.statistic-container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  background-color: white;
  margin: 5px;
}

.statistics {
  width: 100%;
  height: 50px;
  background-color: #0370aa;
  margin: 7px;
  border-radius: 6px;
}

.statistic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 10px;
  color: white;
}
