.todo-list {
  list-style: none;
  padding: 7px;
  border: 2px solid rgb(25, 110, 159);
  border-radius: 6px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.todo-left {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  accent-color: green;
}

.todo-right {
  display: flex;
  align-items: center;
}

.todo-text {
  padding-left: 10px;
}

.deleteBtn {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}
