.todo-list {
  list-style: none;
  padding: 15px;
  border: 2px solid lightgrey;
  border-radius: 6px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 7px 6px 15px -4px rgba(117, 117, 117, 0.77);
  -webkit-box-shadow: 7px 6px 15px -4px rgba(117, 117, 117, 0.77);
  -moz-box-shadow: 7px 6px 15px -4px rgba(117, 117, 117, 0.77);
}

.todo-left {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  accent-color: green;
}

.todo-right {
  display: flex;
  align-items: center;
}

.todo-text {
  padding-left: 10px;
}

.todo-timestamp {
  color: grey;
  size: 0.5rem;
}

.deleteBtn {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}
