.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #0370aa;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
  background: white;
  border-radius: 12px;
  padding: 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

label {
  color: rgb(156, 154, 154);
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#loginBtn {
  background-color: #0370aa;
  padding: 15px 0;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

#loginBtn:hover {
  background-color: #12a6d8;
}

.login-demo-statement {
  color: rgb(156, 154, 154);
  margin: 1rem 0;
  text-align: center;
}

.returnBtn{
  margin: 20px;
  position: absolute;
  background-color: #12a6d8;
  border: solid 1px #d1f8ff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.returnBtn:hover{
  cursor: pointer;
  box-shadow: 2px 2px 4px #242424;
}

#returnArrow{
  height: 25px;
  width: 25px;
}